LICENSE
.node-version
package.json
package-lock.json
yarn.lock
yarn-error.log
.gitignore
.gitkeep
.eslintignore
.prettierignore
.stylelintignore

*.md
*.pug
*.pdf
.env*

*.svg
*.png
*.jpg
*.gif
*.ico

/dist
/sites/**/static/*
/sites/**/vendor/*
