.field.is-horizontal
  .field-label.is-normal
    label.label お名前
  .field-body
    .field
      .control
        p.name
.field.is-horizontal
  .field-label.is-normal
    label.label 件名
  .field-body
    .field
      .control
        p.subject
.field.is-horizontal
  .field-label.is-normal
    label.label お問い合わせ内容
  .field-body
    .field
      .control
        p.body

.field.is-horizontal
  .field-label
  .field-body
    .field.is-grouped.inquiry-confirm-buttons
      .control
        button.button.is-primary.next 送信する
      .control
        button.button.is-light.prev 戻る
    .field.is-grouped.inquiry-completed-buttons
      .control
        button.button.is-light.next フォームをクリアする
