body {
  font-family: "Noto Sans JP", "Noto Sans", sans-serif;
}

h1::before {
  content: "# ";
}

#main {
  display: none;
  min-height: 100%;
}

.h1,
.h2,
.h3,
.h4 {
  margin-bottom: 0.5rem;
}

p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.table {
  th {
    white-space: nowrap;
  }
}

.button {
  // autoprefixerの動作確認用
  user-select: none;
}
