- env = self.htmlWebpackPlugin.options.env
include config

html
  include _partials/head.pug
  body
    include _partials/header.pug
    .loader-wrapper
      include _partials/loader.pug
      main#main
        block content
    include _partials/footer.pug
