html
  include _partials/head.pug
  body
    include _partials/header.pug
    .loader-wrapper
      include _partials/loader.pug
      main#main
        section.section
          .container
            block content
